body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Arima";
}

img {
    max-width: 300px;
}

button {
    font-family: "Arima";
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #144c77;
    color: white;
    cursor: pointer;
}

.button {
    font-family: "Arima";
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #144c77;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.header {
    font-family: "Ephesis";
}

#cover {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #467fa1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.frame {
    width: 100%;
    height: 100%;
    position: fixed;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    background-size: cover;
    background-position: center;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

#c-1 {
    background-image: url("res/1.\ opening.png");
}
.title-top {
    margin-top: 10rem;
}
.title {
    font-size: 6rem;
}
/* .title-name-1{
    margin-top: 4rem;
} */
.title-and {
    font-family: "Clicker Script";
    line-height: 5rem;
    color: #144c77;
}
.title-name {
    font-family: "Alex Brush";
    color: #144c77;
}
.recepient {
    font-size: 1rem;
}
.title-btn {
    margin-top: 1.5rem;
}

#c-2 {
    background-image: url("res/2.\ salam\ pembuka.png");
}
#c-2 > div {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 500px;
}
.opening-img > div {
    background-color: #a7c8d9;
    border-radius: 100%;
}
.opening-img {
    padding: 2px;
    border-style: dashed;
    border-width: 2px;
    border-color: #467fa1;
    border-radius: 100%;
    margin-bottom: 1rem;
}
.opening-1 {
    font-size: 2rem;
    font-family: "Alex Brush";
    margin-bottom: 1rem;
}
.opening-2 {
    font-size: 0.8rem;
    margin: 0rem 2rem;
}

.opening-3 {
    margin-top: 2rem;
    border-style: dashed;
    border-width: 2px;
    border-color: #467fa1;
}

.opening-3 div:nth-child(1) {
    font-size: 1.5rem;
    font-family: "Amiri Quran";
    margin: 1rem;
}
.opening-3 div:nth-child(2) {
    font-size: 0.8rem;
    margin: 1rem;
}

/* #c-3 {
    background-image: url("res/3.\ surat\ ar\ rum\ 21.png");
}
#c-3 > div {
    margin: 0rem 3rem;
    max-width: 500px;
}
#c-3 > div:nth-child(1) {
    font-size: 1.8rem;
    font-family: "Amiri Quran";
    margin-bottom: 1rem;
}
#c-3 > div:nth-child(2) {
    font-size: 0.8rem;
} */

#c-4 {
    /* background-image: url("res/4.\ data\ cewek.png"); */
    background-image: url("res/5.\ data\ cowok.png");
}
.img-name {
    max-width: 300px;
    margin-top: -2rem;
}
.info-name {
    font-size: 2.2rem;
    color: #467fa1;
}

#c-6 {
    background-image: url("res/6.\ jadwal\ akad.png");
}

.schedule-header {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.schedule-detail {
    margin-bottom: 2rem;
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 1rem;
}

#countdown > div {
    height: 70px;
    width: 70px;
    background-color: #144c77;
    color: white;
}

#countdown > div > div:nth-child(1) {
    font-size: 1.5rem;
    font-family: "Arima";
    margin-bottom: -0.5rem;
    margin-top: 0.5rem;
}

#c-8 {
    background-image: url("res/7.\ lokasi.png");
}

.location-header {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.location-map {
    margin-top: 1rem;
}

#c-9 {
    background-image: url("res/8.\ penutup.png");
}

.closing-text {
    margin: 0 2rem;
}

.closing-text-2 {
    margin-top: 1rem;
}

.closing-name {
    font-family: "Ephesis";
    margin-top: 1rem;
    font-size: 3rem;
}

@media screen and (max-width: 720px) {
    #c-3 > div {
        max-width: 360px;
    }
}
