html{
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Inter";
    overscroll-behavior: none;
    overflow: auto;

}

/* img {
    max-width: 300px;
} */

button {
    /* font-family: "Inter"; */
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    background-color: white;
    /* color: ; */
    cursor: pointer;
}


@font-face {
    font-family: "Palace Script MT";
    src: url("./res1/ps.ttf");
}


.vol-btn {
    position: fixed;
    background-color: white;
    border-radius: 50%;
    z-index: 10;
    width: 25px;
    height: 25px;
    padding: 3px;
    right:1rem;
    bottom: 1rem;
    border: 1px solid #444;
}

.vol-btn img {
    max-width: 25px;
}

.quran { 
    font-family: "Amiri Quran";
}

.button {
    /* font-family: "Arima"; */
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #444;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

.header {
    font-family: "Ephesis";
}

#cover {
    z-index: 10;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: white; */
}

.frame {
    width: 100%;
    height: 100%;
    position: fixed;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    /* overscroll-behavior-y: none; */
}

.content, .inside-content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.content {
    scroll-snap-align: start;
}


::-webkit-scrollbar {
    display: none;
}

.img-frame {
    max-width: 10rem;
    position: absolute;
}

.inknut {
    font-family: "Inknut Antiqua";
}

.passions {
    font-family: "Passions Conflict";
}

.palace {
    font-family: "Palace Script MT";
}

.title {
    color: white;
}
.title-0 {
    font-size: 5rem;
}
.title-1 {
    font-size: 4rem;
}
.title-2 {
    font-size: 3rem;
}

#e-1 {
    background-image: url("res1/bg_pict.jpg");
}

#e-1 > div {
    background: rgba(50, 50, 50, 0.8);
}


#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-top: 1rem;
}

#countdown > div {
    height: 70px;
    width: 70px;
    background-color: white;
    border-radius: 10rem;
    /* color: white; */
    font-family: "Arima";
}

#countdown > div > div:nth-child(1) {
    font-size: 1.2rem;
    margin-bottom: -0.5rem;
    margin-top: 0.5rem;
}

.recipient {
    margin-top: 1rem;
    font-size: 1rem;
    color: white;
}
.title-btn {
    margin-top: 1rem;
}

#e-2 {
    background-image: url("res1/bg_pageayat.png");
}

#e-2 > div {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 1rem;
    width: 90%;
    height: 90vh;
}
#e-2 > div > div {
    font-size: 0.8rem;
    margin: 0.8rem 1rem;
}
#e-2 > div> img {
    height: 200px;
    margin-top: -2rem;
    margin-bottom: -2rem;
}
#e-2 > div > div > div:nth-child(1) {
    font-family: "Inknut Antiqua";
}


#e-3 {
    background-color: #D9D9D9;
}

#e-3 .img-1 {
    max-width: 300px;
    border-radius: 100%;
    box-shadow: 0 0 10px #000;
}

#e-3 > .text {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-family: "Arima";
}

#e-3 .img-frame-1 {
    right: -5rem;
    /* top:0; */
}

#e-3 .img-frame-2 {
    left:-3rem;
    bottom:0;
}


#e-4, #e-5 {
    background-color: #D9D9D9;
}

#e-4 > div, #e-5 > div {
    max-width: 300px;
}

#e-4 .img-1, #e-5 .img-1 {
    max-height: 400px;
}

#e-4 .title-1, #e-5 .title-1 {
    color:darkgoldenrod;
    margin-left: -1.5rem;
}

#e-6 {
    background-color: #D9D9D9;
}

#e-7, 
#e-8,
#e-9,
#e-10
{
    background-color: #D9D9D9;
}
#e-7 .img-1, 
#e-8 .img-1,
#e-9 .img-1,
#e-10 .img-1
{
    max-width: 300px;
}
.btn-x {
    position: absolute;
    border-radius: 10rem;
}

#e-7 .btn-1 {
    top:20.2rem;
    left:38%;
}
#e-7 .btn-2 {
    top: 27rem;
    left:38%;
}

#e-8 .btn-1,
#e-9 .btn-1,
#e-10 .btn-1
{
    left:38%;
    top: 21rem;
}


#e-11 a, #e-11 > div{
    width: 80%;
}

#e-11 .inside-content
{
    background-color: #D9D9D9;
    height: auto;
    padding: 10rem 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px #000;
    position: relative;
}

#e-11 .img-frame-1 {
    right: -5rem;
    top: -4rem;
}

#e-11 .img-frame-2 {
    left: -3.5rem;
    top: -4rem;
}

#e-12 > div {
    width: 80%;
}

#e-12 .inside-content {
    background-color: #D9D9D9;
    height: auto;
    padding: 1rem;
    border-radius: 2rem;
    box-shadow: 0 0 10px #000;
    position: relative;
}

#e-12 .text {
    font-size: 0.8rem;
}

#e-12 img {
    max-width: 300px;
    margin: 0.2rem 0;
}

#e-12 a {
    position: absolute;
}
/* #e-12 .clone-1 {
    top:18.5rem;
    left:7rem;
}
#e-12 .clone-2 {
    top:29.5rem;
    left:7rem;
}
#e-12 .clone-3 {
    top:43rem;
    left:15.5rem;
} */


#e-13 {
    background-image: url("res1/last.jpg");
    background-position: -70px center ;
    color: white;
}

#e-13 > div {
    background: rgba(50, 50, 50, 0.8);
}

#e-13 > div > div {
    width: 80%;
}

#e-13 .passions {
    font-size: 5rem;
}









#c-1 {
    background-image: url("res/1.\ opening.png");
    background-position: center -50px;
    background-repeat: no-repeat;
}
.title-top {
    margin-top: 10rem;
}


.title-and {
    font-family: "Clicker Script";
    line-height: 5rem;
    color: #144c77;
}



#c-2 {
    background-image: url("res/2.\ salam\ pembuka.png");
}
#c-2 > div {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 500px;
}
.opening-img > div {
    background-color: #a7c8d9;
    border-radius: 100%;
}
.opening-img {
    padding: 2px;
    border-style: dashed;
    border-width: 2px;
    border-color: #467fa1;
    border-radius: 100%;
    margin-bottom: 1rem;
}
.opening-img > div > img {
    border-radius: 100%;
    max-height:270px;
}
.opening-1 {
    font-size: 2rem;
    font-family: "Alex Brush";
    margin-bottom: 1rem;
}
.opening-2 {
    font-size: 0.8rem;
    margin: 0rem 2rem;
}

.opening-3 {
    margin-top: 2rem;
    border-style: dashed;
    border-width: 2px;
    border-color: #467fa1;
}

.opening-3 div:nth-child(1) {
    font-size: 1.2rem;
    margin: 1rem;
}
.opening-3 div:nth-child(2) {
    font-size: 0.8rem;
    margin: 1rem;
}

/* #c-3 {
    background-image: url("res/3.\ surat\ ar\ rum\ 21.png");
}
#c-3 > div {
    margin: 0rem 3rem;
    max-width: 500px;
}
#c-3 > div:nth-child(1) {
    font-size: 1.8rem;
    font-family: "Amiri Quran";
    margin-bottom: 1rem;
}
#c-3 > div:nth-child(2) {
    font-size: 0.8rem;
} */

#c-4 {
    /* background-image: url("res/4.\ data\ cewek.png"); */
    background-image: url("res/5.\ data\ cowok.png");
}
.img-name {
    max-width: 300px;
    margin-top: -2rem;
}
.info-name {
    font-size: 2.2rem;
    color: #467fa1;
}

#c-6 {
    background-image: url("res/6.\ jadwal\ akad.png");
}

.schedule-header {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.schedule-detail {
    margin-bottom: 2rem;
}



#c-8 {
    background-image: url("res/7.\ lokasi.png");
}

.location-header {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.location-map {
    margin-top: 1rem;
}

#c-9 {
    background-image: url("res/8.\ penutup.png");
}

.closing-text {
    margin: 0 2rem;
}

.closing-text-2 {
    margin-top: 1rem;
}

.closing-name {
    font-family: "Ephesis";
    margin-top: 1rem;
    font-size: 3rem;
}


#c-10 {
    background-image: url("res/6.\ jadwal\ akad.png");
}

#c-10 > .header {
    font-size: 2rem;
    margin: 0rem 1rem;
}

#c-10 > .quran {
    margin: 1rem;
    font-size: 1.5rem;
}

#c-10 > .arti {
    font-family: 0.8rem;
    margin: 1rem;
}

#c-11 {
    background-image: url("res/7.\ lokasi.png");
}

#c-11 > .header {
    font-size: 2rem;
}

#c-11 > div {
    margin: 1rem 2rem;
}

#c-11 > .list {
    text-align: left;
    margin: 1rem 2rem;
}

@media screen and (max-width: 720px) {
    #c-3 > div {
        max-width: 360px;
    }
}


@media screen and (max-height: 720px) {
    #e-2 > div > div {
        font-size: 0.6rem;
        margin: 0.6rem 1rem;
    }
    #e-2 > div> img {
        height: 150px;
    }
    #e-12 img {
        max-height: 120px;
    }
}